@font-face {
    font-family: "Idroid";
    src: url("fontes/idroid.otf") format('opentype');
}

/* 

:root {
    --cor0: #c5ebd6;
    --cor1: #83elad
    --cor2: #3ddc84
    --cor3: #2fa866
    --cor4: #la5c37
    --cor5: #063die
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Idroid', cursive
    
    */

*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to bottom, rgb(0, 255, 149), rgb(0, 53, 13));
}

header > h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    padding-top: 1.5em;
    text-shadow: 0.1em 0.1em 0.4em black;
}

header > h2{
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.418);
    color: white;
    text-align: center;
    margin-top: 1em;
}

nav > ul{
    margin-top: 1.5em;
    display: flex;
}

nav > ul > li{
    margin-left: 1.3em;
    list-style-type: none;
    margin-bottom: 0.6em;
}

nav > ul > li > a{
    color: white;
    text-decoration: none;
    transition-duration: .5s;
}

nav > ul > li > a:hover{
    background-color: rgb(184, 184, 184);
    padding: 10px;

}

main{
    background-color: rgb(109, 255, 255);
    padding: 0 10em 3em 10em;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.container{
    background-color: white;
    box-shadow: 0em 0em 0.6em 0.2em rgba(0, 0, 0, 0.404);
    border-radius: 0em 0em 1em 1em;
}

.ateVideo{
    padding-left: 1em;
    padding-right: 1em;
}

main > div > div > h1{
    font-family: 'Idroid', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1em;
    color: rgb(28, 92, 28);
}

main > div > div > h2{
    padding-left: 0.3em;
    font-family: 'Idroid', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(211, 211, 211), white);
    color: rgb(28, 92, 28);
    margin-top: 1em;
}

main > div > div > p{
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
}

.imgRobo{
    width: 100%;
}

.imgIrina{
    width: 100%;
}

.imgAndroid{
    text-align: center;
}

.iframe{
    background-color: darkgreen;
    text-align: center;
    border: 10px solid darkgreen;
    padding: 1em 0px 1em 0px;
    /* position: relative; */
}

/* iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} */

.checkList{
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    background-color: rgb(180, 180, 180);
    border-radius: 1em;
}

.tituloCheckList{
    border-radius: 0.7em 0.7em 0 0;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: rgb(89, 165, 89);
    margin: auto;
    color: white;
    padding: 0.5em
}

/* 
    margin: -10px -10px 0px -10px;
*/

.checkList > p{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

a{
    text-decoration: none;
}

.list{
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    width: 100%;
}

.list1{
    width: 50%;
    text-align: left;
}

.list2{
    width: 50%;
    text-align: left;
}

/* 
    ul{
    columns: 2
    }
*/

.final{
    margin: 1em 1em 0 1em;
    padding-bottom: 1em;
    text-align: justify;
}

footer{
    background-color: darkgreen;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

/* a.externo::after {
    content: '\0040\1F517'; */